<!DOCTYPE html>
 <html class="no-js"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="images/vector_arrow_logo.png" type="image/icon type">
        <title>About Us | Elev8</title>

        <!--    Bootstrap stylesheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://mdbootstrap.com/docs/jquery/navigation/footer/">

        <!--    Google fonts-->
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Pacifico|Roboto+Slab&display=swap" rel="stylesheet">

     <!--    My stylesheet-->

     <link rel="stylesheet" href="css/about-us-1.css">


</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
              <img src="images/vector_arrow_logo.png" width="70" height="70" class="d-inline-block align-top" alt="">
              <text>Elev8</text>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Start-ups</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Students</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mentors
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">List of experts</a>
                    <a class="dropdown-item" href="#">Blogs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">About Us</a>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <button type="button" class="btn btn-light b1">Log In</button>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-light b1">Sign Up</button>
                </li>
                </ul>
            </div>
          </nav>



          <div class="ct-pageWrapper" id="ct-js-wrapper">
            <section class="company-heading intro-type" id="parallax-one">
              <div class="container">
                <div class="row product-title-info">
                  <div class="col-md-12">
                    <h1>About Us</h1>
                  </div>
                </div>
              </div>
              <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
            </section>
            <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
              <div class="container text-center">
                <h2>WHAT DRIVES US</h2>
                <h3>Create. Connect. Innovate.</h3>
                <div class="red-border"></div>
                <p class="about-text">In this ever changing world of business, one of the biggest obstacles Startup Founders face is the lack of guidance force to crack the wall to GROWTH. Execution with right mentoring is the key to success and we are the guiding force to enable your Growth

                    <br>As John C puts it <b>"Mentoring is a brain to pick, an ear to listen, and a push in the right direction."</b> 
                    
                    <br>We at have experts who will help you in building Startups and understand ever changing dynamics to build successful enterprises. Are we just stopping by providing Mentoring? Absolutely not!! We will walk along your journey by holding your hand to reach your goal by various service offerings.
                    
                    <br>We provide world class platform with cutting edge technology to engage with some of the best mentoring experts to steer towards the right direction addressing the key business challenges and creating value for your enterprises.</p>
              </div>
            </section>
        </div>
          
          <!--    Footer-->
    
    <footer class="footer-distributed">
 
        <div class="footer-left">
      <img src="images/vector_arrow_logo.png">
            <h3>Elev8</h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Blog</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>309 - Rupa Solitaire,
                     Bldg. No. A - 1, Sector - 1</span>
                    Mahape, Navi Mumbai - 400710</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:some@eduonix.com">someone@somaiya.edu</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                We help startups collaborate with some of the best mentoring experts to steer towards the right direction.</p>
        </div>
    </footer>


        <script src="" async defer></script>
    </body>
</html>